
#enterName {
    color: greenyellow;
    font-family: monospace;
}

#nameInput {
    color: black;
    background-color: black;
}

::placeholder {
    color: greenyellow;
    font-family: monospace;
}